*, *::before, *::after { 
    box-sizing: border-box; 
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container h2   { 
    color: var(--color-header); 
}

.login-container label{ 
    color: var(--color-separador); 
    margin-top: 1rem; 
}


.login-input-wrapper {
    position: relative;
    width: 30%;      
    max-width: 30rem;
}

.login-input-wrapper input {
    width: 100%;
    padding: 0.4rem 0.6rem;
    border: 1px solid var(--color-separador);
    border-radius: 0.25rem;
    font-size: 0.9rem;
    color: var(--color-separador);
}

.login-input-wrapper.has-eye input { padding-right: 3rem; }

.login-eye {
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: var(--color-separador);
    cursor: pointer;
}

.login-container button,
.crear-usuario-container button {
    width: 100%;
    max-width: 10rem;
    margin: 2rem auto 0;
    padding: 0.6rem 1.2rem;
    background: var(--color-footerPerse);
    color: var(--color-separador);
    border: 1px solid var(--color-separador);
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}
.login-container button:hover,
.crear-usuario-container button:hover { background: var(--color-header); }

/* MEDIA‑QUERIES*/
@media (min-width: 576px) and 
    (max-width: 991.98px) {
        .login-input-wrapper { 
            width: 60%; 
        }  
}
@media (max-width: 575.98px) {
    .login-input-wrapper { 
        width: 90%; 
    }   
    .login-eye { 
        right: 1rem; 
        font-size: 1.1rem; 
    }
    .has-eye input {
        padding-right: 3.2rem; 
    }
    .login-container h2 { 
        font-size: 1.4rem; 
    }
}
