.detalle-container {
    display: flex;
    gap: 30px;
    padding: 20px;
    background-color: var(--color-fondo);
    border: 1px solid var(--color-separador);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.detalle-container h2{
    background-color: var(--color-fondo);
    color: var(--color-separador);
}

.detalle-imagen {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    border: solid 1px var(--color-separador);

}

.detalle-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--color-separador);

}
.detalle-info-peso {
    font-weight: bold;
    font-size: 1.5rem;
}

.detalle-contador {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-separador);
}

.detalle-contador span {
    font-size: 18px;
    color: var(--color-separador);
}

.agregar-boton-signo {
    background-color: var(--color-fondo);
    border: solid 1px var(--color-separador);
    border-radius: 0.3rem;
    color: var(--color-separador);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.agregar-boton-signo:hover {
    background-color: var(--color-header);
    color: var(--color-separador);
}

.agregar-boton{
    background-color: var(--color-fondo);
    border: solid 1px var(--color-separador);
    border-radius: 0.3rem;
    color: var(--color-separador);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: auto 0;
    padding: 0.6rem 1.2rem;
    align-self: normal;
}

.agregar-boton:hover {
    background-color: var(--color-header);
    color: var(--color-separador);
}

.mover-boton-1{
    background-color: var(--color-fondo);
    border: solid 1px var(--color-separador);
    border-radius: 0.3rem;
    color: var(--color-separador);
    width: 13.3rem;
    padding: 0.6rem;


    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.mover-boton-1:hover {
    background-color: var(--color-header);
    color: var(--color-separador);
}

.mover-boton-2{
    background-color: var(--color-fondo);
    border: solid 1px var(--color-separador);
    border-radius: 0.3rem;
    color: var(--color-separador);
    width: 13.3rem;
    cursor: pointer;
    font-weight: bold;
    padding: 0.6rem;

    transition: background-color 0.3s ease;
}

.mover-boton-2:hover {
    background-color: var(--color-header);
    color: var(--color-separador);
}