#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  --color-separador: rgb(87,27,45);
  --color-fondo: rgb(245,245,245);
  --color-foot: rgb(210,210,210);
  --color-header: rgb(237, 227, 206);
  --color-header-suave: rgb(237, 227, 206, 0.5);
  --color-boxShadow: rgba(87,2)7,45, 2;
  --color-resenaContainer: rgba(237, 227, 206, 0.5);
  --color-resenaPerse: rgba(210, 210, 210, 0.5);
  font-size: 1rem;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}







